# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\CProj\dowhileClass\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
